* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  width: 100vw;
  background-color: rgb(126, 0, 0);
  color: white;
  padding: 0px 15px;
}

nav {
  display: flex;
  gap: 8px;
}

.main-page {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokedex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.pokedex-card {
  width: 45%;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.pokedex-card img {
  width: 100%;
}